@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

main{
    display: flex;
    width: min(100%, 100vw);
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #1899D6;
    border-bottom: black 1px solid;
    display: flex;
    align-items: center;
}

header > span{
    margin: 0 10px;
}

span > img{
    width: 25px;
}


#area{
    text-align: center;
    width: min(100%, 505px);
    margin: 5px 5px 5px 5px;
    height: 600px;
    background: #fff;
    filter: drop-shadow(0px 0px 3px grey);
    border-radius: 2rem;
    overflow: hidden;
}

#insert{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

input{
    width: 350px;
    font-size: 25px;
    text-align: center;
    height: 40px;
    border-radius: 0.5em;
    border: solid 1px grey;
    background-color: transparent;
    margin: 0 0 30px 0;
}

input:focus{
    outline: 0;
}

input:placeholder-shown{
    font-size: 22px;
}

button:hover{
    transition: 0.5s;
    filter: drop-shadow(0px 0px 8px #1899D6);
}

button{
    transition: 0.5s;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 1rem;
    border: none;
    margin: 30px 0 0 0;
    background-color: #1899D6;
}

#login{
    text-decoration: none;
    margin-top: 15px;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

#login:hover{
    transition: 0.2s;
    color: #1899D6;
    text-decoration: underline; 
}

.imagem{
    object-fit: contain;
    width: 50%;
    margin-top: 20px;
    animation-name: slide;
    animation-duration: 1.6s;
}

.logo{
    margin-left: 10px;
    width: 40px;
}

.title{
    margin-top: 50px;
    font-weight: 300;
    font-size: 35px;
}

@keyframes slide{
    from{
        margin-top: 100%;
        width: 50%;
    }
    to {        
        margin-top: 20px;
        width: 50%;
    }
}

